.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  
}
.body {
  margin: 20px;
}
#nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.wrapper-div {
  margin: 50px 200px 50px 200px;
  padding: 20px 0px 20px 5px;
  text-align: left;
  border: 1px solid #d6d6d6;
  background-color: white;
}
#nav-container {
  background-color: #f7dd00;
}
button{
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
}
a{
  text-decoration: none;
}
.username{
  color: #55c7f0;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  margin-left: 200px;
  
}
ul{
  list-style-type: none;
}
.whole-post-container{
  border-top: 1px solid #d6d6d6;
  background-color: #f5f5f7;
  margin: 20px;
}
h3{
  margin-top: 0px;
}
#form-body {
resize: vertical;
width: 200px;
height: 200px;
}

#new-post {
  background-color: #f5f5f7;
  border: 1px solid #d6d6d6;
  padding: 20px;
}
input{
  width: 200px;
  text-align: left;
  margin-bottom: 20px;
}
#comment {
  margin-right: 5px;
}
#button-container{
  display: flex;
  justify-content: center;
}
.comment-submit{
background-color: #f5f5f7;
border: 1px solid black;
}

@media screen and (max-width: 500px) {
  .wrapper-div{
    width: 200px;
    margin: 0 auto;
  }
  .username{
    margin-left: 15px;
  }
  #comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#left-link, #right-link {
  margin: 5px;
}

